/* Variable_content */
/* Common_styles*/
.aboutbox{
    background: #eff3f7;
    border-radius: 4px;
    margin-bottom: 26px;
}
.aboutbox_header{
    font-family: 'fira_sansbook';
    font-size: 27px;
    font-weight: normal;
    color: #3ba8c0;
    border-bottom: 3px #3ba8c0 solid;
    margin: 0 0 26px 0;
    padding: 13px 23px;
    display: inline-block;
}
.aboutbox_body{
    padding-bottom: 40px;
    height: 100%;
    min-height: 840px;
}

/* Projects */
.project_block_wrap{
    display: inline-block;
    margin-left: 19px;
    margin-right: 4px;
    width: 185px;
    height: 236px;
    overflow: hidden; 
}
.img_construction{
    width: 179px;
	border:3px solid #3ba8c0;
	border-radius: 8px;
	overflow: hidden;	
	position: relative;
	margin-bottom: 3px;
    height: 126px;
}
.link_wrap{
    background: rgba(1, 108, 164, 0.6);
	position: absolute;
	left: 0;
	top:0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: .9s;
	-moz-transition: .9s;
	-ms-transition: .9s;
	-o-transition: .9s;
	transition: .9s;
}
.link_wrap:hover{
	opacity: 1;
	filter: alpha(opacity=100);
}
.project_site_link{
    text-align: center;

}
.project_img{
    width: 190px;
    height: 125px;
}
.img_link{
    display: inline-block;
	width: 100%;
    height: 100%;
    text-decoration: none;

}
.hidden_link{
    margin: auto;
    text-align: center;
    display: block;
	color: #fff;
	font-size: 0.8em;
	border:3px solid #fff;
    border-radius: 4px;
    padding: 0 5px;
    margin-top:55px;
    line-height: 18px;
    margin-left: 40px;
    margin-right: 40px;


}
.link_wrap:hover .img_link{
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
.site_link{
    text-decoration: none;
    height: 100%;
    width: 100%;
    color: #3ba8c0;
    padding: 0;
    font-size: 13px;
    font-family: 'fira_sansbook_italic';
    color: #3ba8c0;
}
.project_previev{
    text-align: center;
    color: #4a545d;
    font-family: 'fira_sansbook';
    font-size: 15px;
    padding-top: 6px;
}
.new_block{
    border: 2px dashed #3ba8c0;
    border-radius: 6px;
}
