/* Variable_content */
/* Common_styles*/
.aboutbox{
    background: #eff3f7;
    border-radius: 4px;
    margin-bottom: 26px;
}
.aboutbox_header{
    font-family: 'fira_sansbook';
    font-size: 27px;
    font-weight: normal;
    color: #3ba8c0;
    border-bottom: 3px #3ba8c0 solid;
    margin: 0 0 26px 0;
    padding: 13px 23px;
    display: inline-block;
}
.aboutbox_body{
    padding-bottom: 40px;
    height: 100%;
    min-height: 540px;
}

/* Projects */
.project_block_wrap{
    display: inline-block;
    vertical-align: top;
    margin-left: 19px;
    margin-right: 4px;
    margin-bottom: 27px;
    width: 185px;
}
.img_construction{
    width: 179px;
	border:3px solid #3ba8c0;
	border-radius: 3px;
	overflow: hidden;	
	position: relative;
	margin-bottom: 3px;
    height: 125px;
}
.link_wrap{
    background: rgba(1, 108, 164, 0.6);
	position: absolute;
	left: 0;
	top:0;
	right: 0;
	bottom: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: .9s;
	-moz-transition: .9s;
	-ms-transition: .9s;
	-o-transition: .9s;
	transition: .9s;
}
.link_wrap:hover{
	opacity: 1;
	filter: alpha(opacity=100);
}
.project_site_link{
    text-align: center;
}
.project_img{
    width: 100%;
    height: 100%;
}
.img_link{
    display: inline-block;
	width: 100%;
    height: 100%;
    text-decoration: none;

}
.hidden_link{
    margin: 0 auto;
    text-align: center;
    display: block;
	color: #fff;
	font-size: 0.8em;
	border:3px solid #fff;
    border-radius: 4px;
    padding: 0 5px;
    margin-top:55px;
    line-height: 18px;
    margin-left: 40px;
    margin-right: 40px;


}
.link_wrap:hover .img_link{
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
.site_link{
    text-decoration: none;
    height: 100%;
    width: 100%;
    color: #3ba8c0;
    padding: 0;
    font-size: 13px;
    font-family: 'fira_sansbook_italic';
    color: #3ba8c0;
}
.project_previev{
    text-align: center;
    color: #4a545d;
    font-family: 'fira_sansbook';
    font-size: 15px;
    padding-top: 6px;
}
.new_block{
    border: 2px dashed #3ba8c0;
    border-radius: 6px;
}


/* POPUP block*/
.hide_popup_block{
    display: none;
}
.error-mes{
    height: 59px;
    background-color: rgba(249, 126, 118, 0.33);
    border-radius: 4px;
    border: 1px solid #f97e76;
    padding: 1px 1px 3px 8px;
    margin-top: 16px;
    margin-bottom: 5px;
    display: none;
}
.error-text{
    padding: 0;
    margin: 0;
    font-size: 24px;
    font-family: 'fira_sanslight';
    color: #f97e76;
    margin-bottom: -7px;
}
.close_error_mes{
    height: 11px;
    width: 11px;
    float: right;
    background: url(/img/close_err_mess.png);
    margin-top: -27px;
    margin-right: 3px;
}
.error-text-p{
    padding: 0;
    margin: 0;
    font-family: 'fira_sansbook';
    color: #f97e76;
    font-size: 15px
}


::-webkit-input-placeholder {color:#48cbe8;font-size: 13px;}
::-moz-placeholder          {color:#48cbe8;font-size: 13px;}/* Firefox 19+ */
:-moz-placeholder           {color:#48cbe8;font-size: 13px;}/* Firefox 18- */
:-ms-input-placeholder      {color:#48cbe8;font-size: 13px;}
.add_project_background{
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.7;
    z-index: 9998;
    cursor: pointer;
    background: #7e8c99 ;
    
}
.add_project_popup{
    z-index: 9999;
    opacity: 1;
    display: block;  
    position: absolute;
    width: 362px;
    display: inline-block;
    background-color: #eff3f7;
    border-radius: 4px;
    margin-top: -200px;
    margin-left: -150px;
}
.add_header{
    background: #48cbe8;
    border-bottom: 9px solid #67dffa;
    margin-bottom: 9px;
    border-radius: 4px;
}
.add_header_h2{
    float:left;
    color:#eff3f7;
    font-size: 24px;
    margin: 4px 0 0 12px;
    font-family: "fira_sansextralight";
    letter-spacing: 1px;
    
}
.b-close{
    float:right;
    margin: 9px 12px 0px 20px; 
    color: #ffffff;
    height: 25px;
    width: 25px;
    outline:none;
    border: 0;
    background: url(/img/close_b.png);
}
#add_project{
    width: 318px;
    margin-left: 20px;
    margin-right: 20px;
}
#add_input_name, #add_input_url, #add_input_picture, #add_project_description{
    border-radius: 4px;
    border: 2px solid #48cbe8;
    width: 318px;
    margin-bottom: 7px;
}
#add_input_name, #add_input_url, #add_input_picture{ 
    height: 36px;
    width: 317px;
    
}
#add_project_name{
    font-size: 17px;
    margin-left: -1px;
}
#add_input_url{
    margin-top: 3px;
}
#add_project_url_input{
    
}
#add_project_description{
    height: 105px;
    width: 312px;
    resize: none;
    margin-bottom: 5px;
    line-height: 34px;
}
#add_submit{
    display: inline-block;
    background: #48cbe8;
    border-radius: 5px;
    outline:none;
    border: 0;
    width: 140px;
    font-size: 19px;
    color: #ffffff;
    margin-left: 90px;
    margin-bottom: 24px;
}
#add_file_box {
	position: relative;
    margin-bottom: 5px;
}
.add_file_box_button {
	padding: 0;
	margin: 0;
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	height: 43px;
	width: 55px;
	box-sizing: border-box;
	border-radius: 0px 5px 5px 0;
	border: 2px solid #48cbe8;
	background-image: url("/img/add_file.png");
	background-repeat: no-repeat, repeat-x;
}
.add_file_box_input {
	border: 2px solid #48cbe8;
	
	font-size: 12px;
	width: 100%;
	height: 43px;
	line-height: 43px;
	display: block;
	padding-left: 12px;
	box-sizing: border-box;
	position: relative;

}
.fileupload {
	border: none;
	clip: rect(0 0 0 0);
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 0px;
  height: 0px;
}
/* end POPUP block*/




